@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #131318;
  overflow-x: hidden;
  min-width: 300px;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h5,
p {
  text-transform: lowercase;
}

#back {
  position: absolute;
  top: -50px;
  left: 20px;
  z-index: 15;
}

.navbar-bg {
  top: -10px;
  width: 150vw;
  position: fixed;
  background-color: #131318;
  height: 90px;
  z-index: 10;
  box-shadow: 0px 5px 300px #131318;
  -webkit-box-shadow: 0px 10px 70px #131318;
  /* -moz-box-shadow:0px 30px 20px #131318; */
}

.row.justify-content-center {
  position: relative;
  margin-block: auto;
  min-height: 85dvh;
  /* padding-top: 30px; */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label {
  height: fit-content;
}

#button {
  /* height: auto; */
  width: 100%;
  margin-bottom: -.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="button"],
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #c4c3ca;
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="button"]:hover,
button:hover {
  border: 1px solid #999;
}

.section {
  position: relative;
  width: 100%;
  display: block;
  padding: 70px 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  line-height: 30px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  margin-block: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  user-select: none;
  transition: 0.4s ease;
  z-index: 20;
  display: block;
  overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked:hover+label:before,
[type="checkbox"]:not(:checked):hover+label:before,
[type="checkbox"]:checked:hover+label:after,
[type="checkbox"]:not(:checked):hover+label:after {
  opacity: 0.7;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 10px solid white;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
  content: '';
  width: calc(100% - 8px);
  border-radius: 2px;
  height: 22px;
  background-color: hsl(5, 57%, 51%);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type="text"].search {
  width: 40%;
  min-width: 220px;
  margin: 5px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #eee;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #c4c3ca;
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 15;
    font-family: Arial, FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

::placeholder {
  color: #eee;
  transition: all 0.3s;
}

input[type="text"].search:focus {
  width: 90%;
  outline: none;
  border-color: rgba(16, 16, 16, 0.7);
  border-bottom: 1px solid #eee;
}

input[type="text"].search:focus::placeholder {
  opacity: 0.3;
}

.max__width {
  width: 100%;
  text-align: center;
  z-index: 15;
}

/* #Colors
================================================== */

.checkbox-alizarin:checked+label:before,
.checkbox-alizarin:not(:checked)+label:before {
  border: 1px solid hsl(5, 57%, 51%);
}

.checkbox-alizarin:checked+label:after,
.checkbox-alizarin:not(:checked)+label:after {
  background-color: hsl(5, 57%, 51%);
}


.checkbox-grey:checked+label:before,
.checkbox-grey:not(:checked)+label:before {
  border: 1px solid #544;
}

.checkbox-grey:checked+label:after,
.checkbox-grey:not(:checked)+label:after {
  background-color: #544;
}


.checkbox-wisteria:checked+label:before,
.checkbox-wisteria:not(:checked)+label:before {
  border: 1px solid #562a69;
}

.checkbox-wisteria:checked+label:after,
.checkbox-wisteria:not(:checked)+label:after {
  background-color: #562a69;
}

.checkbox-emerland:checked+label:before,
.checkbox-emerland:not(:checked)+label:before {
  border: 1px solid #1c8454;
}

.checkbox-emerland:checked+label:after,
.checkbox-emerland:not(:checked)+label:after {
  background-color: #1c8454;
}

.checkbox-belizehole:checked+label:before,
.checkbox-belizehole:not(:checked)+label:before {
  border: 1px solid #216a9b;
}

.checkbox-belizehole:checked+label:after,
.checkbox-belizehole:not(:checked)+label:after {
  background-color: #216a9b;
}

.checkbox-sunflower:checked+label:before,
.checkbox-sunflower:not(:checked)+label:before {
  border: 1px solid #cc9c3c;
}

.checkbox-sunflower:checked+label:after,
.checkbox-sunflower:not(:checked)+label:after {
  background-color: #cc9c3c;
}

.box {
  border-radius: 10px;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  overflow: auto;
};

.box.alizarin {
  background-color: #c9463a;
  color: #eee;
}

.box.wisteria {
  background-color: #562a69;
}

.box.emerland {
  background-color: #1c8454;
  color: #eee;
}

.box.grey {
  background-color: #544;
}

.box.belizehole {
  background-color: #216a9b;
}

.box.sunflower {
  background-color: #cc9c3c;
  color: #131318;
}

.box.alizarin,
.box.wisteria,
.box.emerland,
.box.belizehole,
.box.grey,
.box.sunflower {
  opacity: 0;
  min-height: 0;
  box-sizing: border-box;
  min-width: 0;
  height: 0;
  padding: 0;
  margin: 0px;
  visibility: hidden;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkbox-alizarin:checked~.box.alizarin,
.checkbox-wisteria:checked~.box.wisteria,
.checkbox-emerland:checked~.box.emerland,
.checkbox-grey:checked~.box.grey,
.checkbox-belizehole:checked~.box.belizehole,
.checkbox-sunflower:checked~.box.sunflower,
.box.alizarin.selected,
.box.grey.selected,
.box.wisteria.selected,
.box.emerland.selected,
.box.belizehole.selected,
.box.sunflower.selected,
.box.alizarin.found,
.box.grey.found,
.box.wisteria.found,
.box.emerland.found,
.box.belizehole.found,
.box.sunflower.found {
  opacity: 1;
  min-height: 100px;
  max-width: 100%;
  min-width: calc(25% - 20px);
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  visibility: visible;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* =======  MEDIA  ====== */

@media (max-width: 1199px) {

  .checkbox-alizarin:checked~.box.alizarin,
  .checkbox-grey:checked~.box.grey,
  .checkbox-wisteria:checked~.box.wisteria,
  .checkbox-emerland:checked~.box.emerland,
  .checkbox-belizehole:checked~.box.belizehole,
  .checkbox-sunflower:checked~.box.sunflower,
  .box.alizarin.selected,
  .box.grey.selected,
  .box.wisteria.selected,
  .box.emerland.selected,
  .box.belizehole.selected,
  .box.sunflower.selected,
  .box.alizarin.found,
  .box.grey.found,
  .box.wisteria.found,
  .box.emerland.found,
  .box.belizehole.found,
  .box.sunflower.found {
    min-width: calc(33.333333333333% - 20px);
  }
}

@media (max-width: 991px) {

  .checkbox-alizarin:checked~.box.alizarin,
  .checkbox-grey:checked~.box.grey,
  .checkbox-wisteria:checked~.box.wisteria,
  .checkbox-emerland:checked~.box.emerland,
  .checkbox-belizehole:checked~.box.belizehole,
  .checkbox-sunflower:checked~.box.sunflower,
  .box.alizarin.selected,
  .box.grey.selected,
  .box.wisteria.selected,
  .box.emerland.selected,
  .box.belizehole.selected,
  .box.sunflower.selected,
  .box.alizarin.found,
  .box.grey.found,
  .box.wisteria.found,
  .box.emerland.found,
  .box.belizehole.found,
  .box.sunflower.found {
    min-width: calc(50% - 20px);
  }
}

@media (max-width: 575px) {

  .checkbox-alizarin:checked~.box.alizarin,
  .checkbox-grey:checked~.box.grey,
  .checkbox-wisteria:checked~.box.wisteria,
  .checkbox-emerland:checked~.box.emerland,
  .checkbox-belizehole:checked~.box.belizehole,
  .checkbox-sunflower:checked~.box.sunflower,
  .box.alizarin.selected,
  .box.grey.selected,
  .box.wisteria.selected,
  .box.emerland.selected,
  .box.belizehole.selected,
  .box.sunflower.selected,
  .box.alizarin.found,
  .box.grey.found,
  .box.wisteria.found,
  .box.emerland.found,
  .box.belizehole.found,
  .box.sunflower.found {
    min-width: calc(100% - 20px);
    min-height: 80px;
    height: auto;
    max-height: 100%;
    overflow: auto;
  }
}

.alizarin {
  background-color: #c9463a;
}

@media (hover: none) and (pointer: coarse) {


}